/* **************** VIDEO UPLOAD ADMIN FORM ************************** */
/* FONTS */
/* font-family: 'Satoshi', sans-serif;
font-family: 'Ranade', sans-serif;
font-family: 'Clash Display', sans-serif;
font-family: 'Author', sans-serif;
font-family: 'Panchang', sans-serif;
font-family: 'Chillax', sans-serif;
font-family: 'Zodiak', serif; */
