
/* ******************
**** HEADER COMPONENT ****
********************* */

.header {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: flex-start;
  margin: 0px 0px 0px 20px;
}
.titleContent {
  display: flex;
  align-items: center;
}
.header .mainIcon {
  margin: 5px 0px 0px 10px;
  font-size: 28px;
}
.mainTitle {
  font-family: 'Chillax', sans-serif;
  font-size: 36px;
  /* color: #092753;  Main Title */
  /* color: #1D3557;  Main Title */
  color: #e07a5f;  /* Main Title */
  font-weight: 500;
  margin: 10px 0px 0px;
  padding: 0px;
}
