
.header {
  display: flex;
  justify-content: center;
}
.mainTitle {
  font-size: 36px;
  color: white;
  font-weight: 300;
  margin: 10px 0px;
}
/* Topic Section  */
.topic {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
.topic h3 {
  margin: 0px;
  font-size: 24px;
  color: white;
}

.image {
  height: 50px;
  width: 50px;
}

.content {
  min-width: 200px;
  margin: 20px 10px 0px;
  /* overflow: hidden auto; */
}
.gridContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  justify-items: center;
  position: relative;
  grid-auto-columns: calc(50%);
  grid-auto-flow: row;
  overflow: scroll;
  max-height: 415px;
}

/* Footer Will convert to component */
.footerContainer {
  position: fixed;
    width: 100%;
    bottom: 0;
}
.footer {
  margin: 15px 30px 10px;
  display: flex;
  place-content: center space-between;
  font-size: 27px;
  align-items: center;
}
