/* FONTS */
/* font-family: 'Satoshi', sans-serif;
font-family: 'Ranade', sans-serif;
font-family: 'Clash Display', sans-serif;
font-family: 'Author', sans-serif;
font-family: 'Panchang', sans-serif;
font-family: 'Chillax', sans-serif;
font-family: 'Zodiak', serif; */

.appContent {
  position: relative;
}

/************************
**** Topic Section *****
********************** */
.topic {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
.topic h3 {
  margin: 0px;
  font-size: 30px;
  /* color: #092753; */
  color: #F9E1B4;
  font-family: 'Clash Display', sans-serif;
  letter-spacing: 1.5;
  font-weight: 400;
}

/* ****************
*** GRID FOR VIDEOS ***
*********************** */
.videoContent {
  min-width: 200px;
  margin: 10px 10px 0px;
}
.video {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  justify-items: center;
  position: relative;
  grid-auto-columns: calc(50%);
  grid-auto-flow: row;
  overflow: hidden scroll;
  max-height: 425px;
}
.video-item {
  position: relative;
}

/* ****** VIDEO TITLE OVERLAY IF I WANT ************** */
/* *************************************************** */
.video-item .title {
  position: absolute;
  opacity: 0;
  transition: .3s;
}
/* .video-item:hover .title {
  opacity: 1;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  color: black;
  transition: .3s;
} */
