/* FONTS */
/* font-family: 'Satoshi', sans-serif;
font-family: 'Ranade', sans-serif;
font-family: 'Clash Display', sans-serif;
font-family: 'Author', sans-serif;
font-family: 'Panchang', sans-serif;
font-family: 'Chillax', sans-serif;
font-family: 'Zodiak', serif; */

.appContent {
  position: relative;
}

/************************
**** Topic Section *****
********************** */
.topic {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0px 0px 15px;
}
.topic h3 {
  margin: 0px;
  font-size: 36px;
  /* color: #092753; */
  /* color: #F9E1B4; Latest Color */
  color: #457B9D; /* A nice color but not part of stripes */
  color: #3d405b; /* the v1 color */
  color: #3A0CA3; /* stripe dark color for blue theme */
  font-family: 'Clash Display', sans-serif;
  letter-spacing: 1.5;
  font-weight: 500;
}
