/* Footer Will convert to component */
.footerContainer {
  position: fixed;
  width: 100%;
  bottom: 0;
  /* mask-image: linear-gradient(black, transparent);
  mask-mode: alpha;  kinda cool though !!!*/

  box-shadow: 0px -10px 10px 10px #2C88A1;

}
.footer {
  margin: 0px 30px 10px;
  display: flex;
  place-content: center space-between;
  font-size: 27px;
  align-items: center;
}
